img {
    width: 20px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #1E213A;
}

.theapp {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 120vh;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}

#firstPage {
    background: #1E213A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 2;
    min-width: 35%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
    max-height: 150vh;
}

.weatherInfo {
    grid-column: 2 3;
    min-width: 65%;
}

.searchContainer {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContainer>button {
    width: 150px;
    height: 45px;
    background: #6E707A;
    color: #E7E7EB;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.LocationBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

#firstPage>div:nth-child(2) {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dateDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    color: #A09FB1;
}

.dateDetails>div:first-child {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    color: #88869D;
}

.locationInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.backgroundImg>img {
    width: 180px;
}

.todayTemp {
    font-size: 100px;
}

.degreeText {
    font-size: 40px;
    color: #A09FB1;
}

.celciusText {
    font-size: 50px;
    color: #A09FB1;
}

.tempDetail {
    font-size: 36px;
    color: #A09FB1;
}

#firstPage>div:nth-child(2)>div:nth-child(2) {
    color: #E7E7EB;
}

.searchPageContainer {
    height: 100vh;
    row-gap: 10px;
    grid-column: 1 2;
    background: #1E213A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
}

.searchPage {
    min-height: 35%;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green; */

}

.cancelBtn {
    width: 100%;
    display: flex;
    justify-content: right;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.search {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.search>div:first-child {
    height: 95%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
}

.search>div:first-child>img {
    height: 50%;
}

.inputLocation {
    height: 95%;
    width: 60%;
    border: none;
    background-color: inherit;
    outline: none;
    color: white;
}

.inputLocation:focus-within {
    border: none;
}

.search>button {
    min-width: 30%;
    height: 95%;
    color: white;
    background-color: #3C47E9;
    border: none;
    cursor: pointer;
}

.searchHistoryContainer {
    margin-top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.searchHistoryContainer>div {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    color: white;
    cursor: pointer;
}

.searchHistoryContainer>div:hover {
    border: 1px solid white;
}

/* .backgroundImg{
    background-image: url('weather-app-master/Cloud-background.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
} */
.weatherInfo {
    background-color: #100E1D;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.conversionBtnContainer {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.conversionBtnContainer>button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
}

.conversionBtnContainer>button:nth-child(1) {
    background-color: #E7E7EB;
}

.conversionBtnContainer>button:nth-child(2) {
    background-color: #585676;
}

.futureCastContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    color: #E7E7EB;
    ;
}

.weatherStatusContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #E7E7EB;
    ;
}

.futureCastContainer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 150px;
    background-color: #1E213A;
}

.futureCastImg {
    width: 70px;
}

.futureCastContainer>div>div:first-child {
    font-size: 16px;
}

.weatherStatus {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.weatherStatus>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #1E213A;
}

.weatherTitle {
    padding-bottom: 30px;
    padding-left: 40px;
    font-size: 24px;
    font-weight: 700;
}

.credit {
    padding-top: 50px;
    font-size: 14px;
    font-weight: 500;
}

.inputRange {
    width: 185px;
}

.rangeValue {
    width: 185px;
    display: flex;
    justify-content: space-between;
}

.percentageSymbol {
    width: 185px;
    display: flex;
    justify-content: flex-end;
}

.arrowImg {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E7E7EB;
}

.arrowImgContainer {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherType {
    font-size: 16px;
    font-weight: 500;
}

.weatherValue {
    font-size: 64px;
    font-weight: 700;
}

.measurement {
    font-size: 36px;
}

@media(max-width:600px) {
    .theapp {
        grid-template-columns: 1fr;
    }

    .weatherStatus>div {
        width: 300px;
    }

    .futureCastContainer>div {
        width: 300px;
    }
}